$blueColor: #27293d;

.iccon {
    .has-label:after {
        top: 44px !important;
    }

}

.has-success.has-label:after,
.has-danger.has-label:after {
    top: 44px !important;
}

.selectPermissions {

    .has-success:after,
    .has-danger:after {
        display: none !important;
    }
}

.InputGroupVictor {
    .has-danger.has-label:after {
        top: 10px !important;
    }

    .has-success.has-label:after {
        top: 10px !important;
    }
}


.iconNone {
    .has-success:after,
    .has-danger:after {
        display: none !important;
        // border-top-right-radius: 0.4285rem !important;
        // border-bottom-right-radius: 0.4285rem !important;
    }
}

.selectUser {
    width: 225px !important;
    max-width: 225px !important;
}

.maxPaginatio {
    overflow: auto;
    display: flex;
    justify-content: flex-end;

    nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .pagination {
        max-width: 100%;
    }
}



.wizardProyect {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    div {
        flex: 1 !important;
        max-width: none !important;
    }
    .wizard-container {
        .card-wizard {
            .card-footer {
                div:first-child {
                    padding-right: 0 !important;
                };
                div:nth-child(2) {
                    padding-left: 0 !important;
                }
            }
            .tab-pane {
                // overflow: auto;
            }
            p {
                color: black;
            }
        }

    }
}

.modal-header {
    button {
        padding: 8px !important;
    }
    .close {
        i {
            color: #ffff;
        }
    }
}

.modal-content {
    background: #222a42 !important;
    .modal-title {
        color: white !important;
    }
}

.form-group {
    label {
        color: $blueColor;
    }
    &.has-danger {
        .form-control {
            margin-bottom: 5px;
        }
        label {
            &.error {
                color: red;
            }
        }
    }
    &.has-success {
        input {
            color: white;
        }
    }
}

.Tooltip_wizard {
    div {
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 15);
        p {
            color: white;
        }
        ul {
            li {
                color: white;
            }
        }
    }
}




.inputGroupAppendRight {
    >.input-group-append {
        >.input-group-text {
            margin: 0 !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding: 8px 5px 9px 5px !important;
            color: white !important;
            border-left: 0 !important;
            border-top-right-radius: 0.4285rem !important;
            border-bottom-right-radius: 0.4285rem !important;
            margin-top: -1px !important;
            margin-left: -1px !important;
            background-color: slategray !important;
        }
    }
}

.inputGroupAppendRight.input-group {
    >.form-control {
        &:first-child {
            border-right: 0 !important;
        }
    }
}

.form-input-append {
    border-right: 0 !important;
}

.input-group {
    >input.form-input-append {
        border-right: 0 !important;
    }
}