#loader-wrapper  {
    position: fixed;
    top: 0;
    height: 100vh !important;
    z-index: 1000;
    width: 60%;
    margin-left: 20%;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}