$blueColor: #27293d;

.iccon {
    .has-label:after {
        top: 44px !important;
    }
}

.InputGroupVictor {
    .has-danger.has-label:after {
        top: 44px !important;
    }
    .has-success.has-label:after{
        top: 44px !important;
    }
}

.form-group {
    label {
        color: rgba(255, 255, 255, 0.6);
    }
    
    input {
        color: white;
    }

    &.has-danger {
        .form-control {
            margin-bottom: 5px;
        }

        label {
            &.error {
                color: red;
            }
        }
    }

    &.has-success {
        input {
            color: white;
        }
    }
}