#landingCreatorBlock > .block-ui-container:hover {
    cursor: not-allowed !important;
}

#landingCreatorBlock > .block-ui-container > .block-ui-overlay {
    background-color: transparent !important;
}

#normalLanding > .block-ui-container {
    z-index: 2;
}
#landingCreatorBlock > .block-ui-container {
    z-index: 1;
}

#normalLandingChildren > .block-ui-container > .block-ui-overlay {
    background-color: #525f7f !important;
}

#normalLandingChildren > .block-ui-container:hover {
    cursor: default !important;
}

.rowDraggable:hover {
    background-color: #344675 !important
}

.landingComposerDragg {
    background-color: #17a2b8 !important;
    min-height: 25vh !important;
}

.landingComposerContainer {
    background-color: white !important;
    min-height: 25vh !important;
    height: calc(100% + 100px);
}

[data-rbd-droppable-id="column-landing-composer"] {
    height: 100% !important;
}
