#landingCreatorBlock > .block-ui-container:hover {
    cursor: not-allowed !important;
}

#landingCreatorBlock > .block-ui-container > .block-ui-overlay {
    background-color: transparent !important;
}

#normalLanding > .block-ui-container {
    z-index: 2;
}
#landingCreatorBlock > .block-ui-container {
    z-index: 1;
}

#normalLandingChildren > .block-ui-container > .block-ui-overlay {
    background-color: #525f7f !important;
}

#normalLandingChildren > .block-ui-container:hover {
    cursor: default !important;
}

.rowDraggable:hover {
    background-color: #344675 !important
}
