.resetPasswordForm{
    .has-danger,
    .has-success{
        &.has-label:after {
            top: 48px !important;
        }
    }

    .has-danger{
        .form-control{
            margin-bottom: 5px;
            color: red;
        }
        label{
            &.error{
                color: red;
                font-size: 0.75rem;
            }
        }
    }
}

.alertText {
    font-size: 85.5%;
}

$blueColor: #27293d;

.loginForm{
    font-weight: bold;
    .card{

        background: white;
        .card-header{
            .card-title{
                color: $blueColor;
                font-weight: bold;
                font-size: 28px;
            }
        }

        .card-body{
            .form-group{
                label{
                    color: $blueColor;
                }

                &.has-danger{
                    .form-control{
                        margin-bottom: 5px;
                    }
                    label{
                        &.error{
                            color: red;
                        }
                    }
                }

                &.has-success{
                    input{
                        color: black;
                    }
                }
               
            }
        }
    }
}